<!-- Body: Body -->
<div class="body d-flex py-3">
  <div class="container-xxl">
    <div class="row align-items-center">
      <div class="border-0 mb-4">
        <div
          class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
          <h3 class="fw-bold mb-0">Orders List</h3>
        </div>
      </div>
    </div>
    <!-- Row end  -->
    <div class="row g-3 mb-3">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <table id="myDataTable" class="table table-hover align-middle mb-0" style="width: 100%">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Product</th>
                  <th>Customer Name</th>
                  <th>Qty</th>
                  <th>Price</th>
                  <th style="width: 5%;">Payment Method</th>
                  <th style="width: 15%;">Status</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                {{#each orders}}
                <tr>
                  <td style="max-width: 110px; word-wrap: break-word; word-break: break-all;">{{this._id}}</td>
                  <td>
                    <div style="display: flex; align-items: center; justify-content: start;">
                      <img src="{{this.product.images.[0]}}" class="avatar lg rounded me-2" />
                      <span>{{this.product.name}}</span>
                    </div>
                  </td>
                  <td>{{this.name}}</td>
                  <td>{{this.quantity}}</td>
                  <td>{{this.total_price}}</td>
                  <td style="width: 5%;">{{this.payment_status}}</td>
                  <td style="width: 15%;">
                    <input type="hidden" class="orderStatus" value="{{this.status}}">
                    <select class="form-select">
                      <option value="Pending">Pending</option>
                      <option value="Shipped">Shipped</option>
                      <option value="Delivered">Delivered</option>
                      <option value="Cancelled">Cancelled</option>
                    </select>
                  </td>
                  <td style="max-width: 50px; word-wrap: break-word;">{{this.reason}}</td>
                </tr>
                {{/each}}
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Row end  -->
  </div>
</div>

<!-- Modal -->
<div class="modal" id="cancelReasonModal" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cancellation Reason</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select id="cancellationReason" class="form-select mb-3">
          <option disabled selected value="">Select a reason...</option>
          <option value="Out of Stock">Out of Stock</option>
          <option value="Address Issue">Shipping Address Issue</option>
          <option value="Payment Issue">Payment Issue</option>
          <option value="Custom">Custom</option>
        </select>

        <input type="text" style="display: none;" id="customReasonInput" class="form-control"
          placeholder="Enter custom reason...">

        <small id="customReasonError" style="display: none; color: red; margin-top: 2px; margin-left: 3px"></small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="saveReasonBtn">Save Reason</button>
      </div>
    </div>
  </div>
</div>

<script src="/admin/scripts/orderList.js"></script>