<!-- Body: Body -->
<div class="body d-flex py-lg-3 py-md-2">
  <div class="container-xxl">
    <div class="row align-items-center">
      <div class="border-0 mb-4">
        <div
          class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
          <h3 class="fw-bold mb-0">User Details</h3>
        </div>
      </div>
    </div>
    <!-- Row end  -->
    <div class="row clearfix g-3">
      <div class="col-sm-12">
        <div class="card mb-3">
          <div class="card-body">
            <table id="myProjectTable" class="table align-middle mb-0" style="width:100%">
              <thead>
                <tr>
                  <th>Users</th>
                  <th>Mail</th>
                  <th>Phone</th>
                  <th>Registered Date</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {{#each users}}
                <tr>
                  <td><span class="fw-bold ms-1">{{this.name}}</span></td>
                  <td>{{this.email}}</td>
                  <td>{{this.phone_number}}</td>
                  <td>{{this.register_date}}</td>
                  <td>{{this.status}}</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                      <form action="/admin/usersList/{{this._id}}/block" method="post">
                        <button type="submit" class="btn btn-outline-secondary">
                          {{#if this.isActive}}
                          <i class="icofont-ui-unlock text-success"></i>
                          {{else}}
                          <i class="icofont-ui-lock text-danger"></i>
                          {{/if}}
                        </button>
                      </form>
                    </div>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div><!-- Row End -->
  </div>
</div>