<html class="no-js" lang="en" dir="ltr">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Sidra Admin | Users</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- Favicon-->

    <!-- plugin css file  -->
    <link
      rel="stylesheet"
      href="/admin/assets/plugin/datatables/responsive.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="/admin/assets/plugin/datatables/dataTables.bootstrap5.min.css"
    />

    <!-- project css file  -->
    <link rel="stylesheet" href="/admin/assets/css/ebazar.style.min.css" />

    {{!-- <script src="/admin/scripts/userList.js"></script> --}}
  </head>
  <body>
    <div id="ebazar-layout" class="theme-teal">

      <!-- sidebar -->
      <div class="sidebar px-4 py-4 py-md-4 me-0">
        <div class="d-flex flex-column h-100">
          <ul class="menu-list flex-grow-1 mt-3">
            <li>
              <a class="m-link" href="/admin/home"><i
                  class="icofont-home fs-5"
                ></i>
                <span>Dashboard</span></a>
            </li>
            <li class="collapsed">
              <a
                class="m-link"
                data-bs-toggle="collapse"
                data-bs-target="#menu-product"
                href="#"
              >
                <i class="icofont-truck-loaded fs-5"></i>
                <span>Products</span>
                <span
                  class="arrow icofont-rounded-down ms-auto text-end fs-5"
                ></span></a>
              <!-- Menu: Sub menu ul -->
              <ul class="sub-menu collapse" id="menu-product">
                <li>
                  <a class="ms-link" href="product-grid.html">Product Grid</a>
                </li>
                <li>
                  <a class="ms-link" href="product-list.html">Product List</a>
                </li>
                <li>
                  <a class="ms-link" href="product-edit.html">Product Edit</a>
                </li>
                <li>
                  <a class="ms-link" href="product-detail.html">Product Details</a>
                </li>
                <li>
                  <a class="ms-link" href="product-add.html">Product Add</a>
                </li>
                <li>
                  <a class="ms-link" href="product-cart.html">Shopping Cart</a>
                </li>
                <li><a class="ms-link" href="checkout.html">Checkout</a></li>
              </ul>
            </li>
            <li class="collapsed">
              <a
                class="m-link"
                data-bs-toggle="collapse"
                data-bs-target="#categories"
                href="#"
              >
                <i class="icofont-chart-flow fs-5"></i>
                <span>Categories</span>
                <span
                  class="arrow icofont-rounded-down ms-auto text-end fs-5"
                ></span></a>
              <!-- Menu: Sub menu ul -->
              <ul class="sub-menu collapse" id="categories">
                <li>
                  <a class="ms-link" href="categorie-list.html">Categories List</a>
                </li>
                <li>
                  <a class="ms-link" href="categories-edit.html">Categories Edit</a>
                </li>
                <li>
                  <a class="ms-link" href="categories-add.html">Categories Add</a>
                </li>
              </ul>
            </li>
            <li class="collapsed">
              <a
                class="m-link"
                data-bs-toggle="collapse"
                data-bs-target="#menu-order"
                href="#"
              >
                <i class="icofont-notepad fs-5"></i>
                <span>Orders</span>
                <span
                  class="arrow icofont-rounded-down ms-auto text-end fs-5"
                ></span></a>
              <!-- Menu: Sub menu ul -->
              <ul class="sub-menu collapse" id="menu-order">
                <li>
                  <a class="ms-link" href="order-list.html">Orders List</a>
                </li>
                <li>
                  <a class="ms-link" href="order-details.html">Order Details</a>
                </li>
                <li>
                  <a class="ms-link" href="order-invoices.html">Order Invoices</a>
                </li>
              </ul>
            </li>
            <li class="collapsed">
              <a
                class="m-link active"
                href="/admin/usersList"
              >
                <i class="icofont-funky-man fs-5"></i>
                <span>Users</span>
                </a>
            </li>
            <li class="collapsed">
              <a
                class="m-link"
                data-bs-toggle="collapse"
                data-bs-target="#menu-sale"
                href="#"
              >
                <i class="icofont-sale-discount fs-5"></i>
                <span>Coupons</span>
                <span
                  class="arrow icofont-rounded-down ms-auto text-end fs-5"
                ></span></a>
              <!-- Menu: Sub menu ul -->
              <ul class="sub-menu collapse" id="menu-sale">
                <li>
                  <a class="ms-link" href="coupons-list.html">Coupons List</a>
                </li>
                <li>
                  <a class="ms-link" href="coupon-add.html">Coupons Add</a>
                </li>
                <li>
                  <a class="ms-link" href="coupon-edit.html">Coupons Edit</a>
                </li>
              </ul>
            </li>
          </ul>
          <!-- Menu: menu collepce btn -->
          <button
            type="button"
            class="btn btn-link sidebar-mini-btn text-light"
          >
            <span class="ms-2"><i class="icofont-bubble-right"></i></span>
          </button>
        </div>
      </div>

      <!-- main body area -->
      <div class="main px-lg-4 px-md-4">

        <!-- Body: Header -->
        <div class="header">
          <nav class="navbar py-4">
            <div class="container-xxl">
              <!-- header rightbar icon -->
              <div
                class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1"
              >
                <div
                  class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover"
                >
                  <div class="u-info me-2">
                    <p class="mb-0 text-end line-height-sm">
                      <span class="font-weight-bold">John Quinn</span>
                    </p>
                    <small>Admin Profile</small>
                  </div>
                  <img
                    class="avatar lg rounded-circle img-thumbnail"
                    src="/admin/assets/images/profile_av.svg"
                    alt="profile"
                  />
                </div>

                <div class="setting ms-2">
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#Settingmodal"
                  ><i class="icofont-gear-alt fs-5"></i></a>
                </div>
              </div>

              <!-- menu toggler -->
              <button
                class="navbar-toggler p-0 border-0 menu-toggle order-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainHeader"
              >
                <span class="fa fa-bars"></span>
              </button>

              <!-- main menu Icon-->
              <div
                class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0"
              >
                <div class="col-lg-3 col-md-3 col-4">
                  <div class="logo">
                    <a><img
                        src="/user/assets/img/logo/logo.png"
                        alt=""
                        height="41px"
                        width="150px"
                      /></a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>

        <!-- Body: Body -->
        <div class="body d-flex py-lg-3 py-md-2">
          <div class="container-xxl">
            <div class="row align-items-center">
              <div class="border-0 mb-4">
                <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                  <h3 class="fw-bold mb-0">User Details</h3>
                </div>
              </div>
            </div>
            <!-- Row end  -->
            <div class="row clearfix g-3">
              <div class="col-sm-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <table
                      id="myProjectTable"
                      class="table align-middle mb-0"
                      style="width:100%"
                    >
                      <thead>
                        <tr>
                          <th>Users</th>
                          <th>Mail</th>
                          <th>Phone</th>
                          <th>Register Date</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each users}}
                         <tr>
                          <td><span class="fw-bold ms-1">{{this.name}}</span></td>
                          <td>{{this.email}}</td>
                          <td>{{this.phone_number}}</td>
                          <td>{{this.register_date}}</td>
                          <td>{{this.status}}</td>
                          <td>
                            <div
                              class="btn-group"
                              role="group"
                              aria-label="Basic outlined example"
                            > 
                            <form action="/admin/usersList/{{this._id}}/block" method="post">
                            <button
                                type="submit"
                                class="btn btn-outline-secondary"
                              >
                              {{#if this.isActive}}
                                <i class="icofont-ui-lock text-danger"></i>
                              {{else}}
                                <i class="icofont-ui-unlock text-success"></i>
                              {{/if}}
                              </button>
                            </form>
                            </div>
                          </td>
                         </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div><!-- Row End -->
          </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="/admin/assets/bundles/libscripts.bundle.js"></script>

    <!-- Plugin Js-->
    <script src="/admin/assets/bundles/dataTables.bundle.js"></script>

    <!-- Jquery Page Js -->
    <script src="/admin/assets/js/template.js"></script>
  </body>
</html>