{{#if products}}
<div class="shopping_cart_area mt-100">
  <div class="container">
    <form>
      <div class="row">
        <div class="col-12">
          <div class="table_desc">
            <div class="cart_page table-responsive">
              <table>
                <thead>
                  <tr>
                    <th class="product_select" style="width: 10px;">Select</th>
                    <th class="product_thumb">Image</th>
                    <th class="product_name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product_quantity">Quantity</th>
                    <th class="product_total">Total</th>
                    <th class="product_remove">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each products}}
                  <tr>
                    <td class="product_select" style="width: 10px;">
                      <input class="product_checkbox" type="checkbox" {{#if isSelected}}checked{{/if}} />
                      <input type="hidden" class="cartId" value="{{this._id}}">
                    </td>
                    <td class="product_thumb"><a href="/singleProduct/{{this.product._id}}"><img
                          src="{{this.product.images.[0]}}" alt="" /></a></td>
                    <td class="product_name"><a href="/singleProduct/{{this.product._id}}">{{this.product.name}}</a>
                    </td>
                    <td>&#x20B9; <span class="product-price">{{this.product.price}}</span></td>

                    <td class="product_quantity">
                      <div class="quantity-wrapper">
                        <button class="quantity-minus" type="button"
                          style="padding: 5px 10px; font-size: 16px; background-color: #f0f0f0; border: none; cursor: pointer;">-</button>
                        <input type="hidden" class="cartId" value="{{this._id}}">
                        <input min="1" max="10" value="{{this.quantity}}" type="text" disabled
                          style="width: 50px; padding: 5px; text-align: center; border: 1px solid #ccc;">
                        <button class="quantity-plus" type="button"
                          style="padding: 5px 10px; font-size: 16px; background-color: #f0f0f0; border: none; cursor: pointer;">+</button>
                      </div>
                    </td>
                    <td>&#x20B9; <span class="product_total">{{this.totalPrice}}</span></td>
                    <td class="product_remove"><a onclick="removeProduct(`{{this._id}}`)"><i
                          class="fa fa-trash-o"></i></a></td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!--coupon code area start-->
      <div class="coupon_area">
        <div class="row justify-content-end">
          <div class="col-lg-6 col-md-6">
            <div class="coupon_code right">
              <h3>Cart Summary</h3>
              <div class="coupon_inner">
                {{!-- <div class="cart_subtotal">
                  <p>Subtotal</p>
                  <p class="cart_amount">&#x20B9; <span id="subTotal">0</span></p>
                </div> --}}
                <div class="cart_subtotal">
                  <p style="font-size: 18px;">Total</p>
                  <p class="cart_amount" style="font-size: 19px;">&#x20B9; <span id="total">0</span></p>
                </div>
                <div class="checkout_btn">
                  {{!-- <button id="proceedToCheckoutBtn" type="button">Proceed to Checkout</button> --}}
                  <a id="proceedToCheckoutBtn">Proceed to Checkout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{{else}}
<div class="row justify-content-center mt-5 mb-5">
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-body text-center">
        <h4 class="card-title">No Products Available</h4>
        <p class="card-text">There are currently no products added to the cart.</p>
      </div>
    </div>
  </div>
</div>
{{/if}}

<script src="/user/scripts/cart.js"></script>