<!--Checkout page section-->
<div class="Checkout_section mt-100" id="accordion">
  <div class="container">
    <div class="checkout_form">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <form action="#">
            <h3>Billing Details</h3>
            <div class="row">
              <div class="col-12 mb-20">
                <label>Select An Address</label>
                <div class="address" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                  <input type="radio" id="address_{{primaryAddress._id}}" name="address" value="{{primaryAddress._id}}"
                    checked style="width: 12px; height: 12px; margin-right: 5px;">
                  <label for="address_{{primaryAddress._id}}">{{primaryAddress.name}}</label><br>
                  <p style="margin: 0;"> {{primaryAddress.house_name}}<br>
                    {{primaryAddress.street}}, {{primaryAddress.city}},<br>
                    {{primaryAddress.state}} - {{primaryAddress.pin_code}}<br>
                    {{primaryAddress.phone_number}}
                  </p>
                </div>
                {{#each addresses}}
                <div class="address" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                  <input type="radio" id="address_{{this._id}}" name="address" value="{{this._id}}"
                    style="width: 12px; height: 12px; margin-right: 5px;">
                  <label for="address_{{this._id}}">{{this.name}}</label><br>
                  <p style="margin: 0;"> {{this.house_name}}<br>
                    {{this.street}}, {{this.city}},<br>
                    {{this.state}} - {{this.pin_code}}<br>
                    {{this.phone_number}}
                  </p>
                </div>
                {{/each}}

                <!-- Collapsed list of all addresses -->
                <div id="addressListCollapse" class="collapse" style="margin-top: 10px;">
                  {{#each otherAddresses}}
                  <div class="address" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                    <input type="radio" id="address_{{this._id}}" name="address" value="{{this._id}}"
                      style="width: 12px; height: 12px; margin-right: 5px;">
                    <label for="address_{{this._id}}">{{this.name}}</label><br>
                    <p style="margin: 0;"> {{this.house_name}}<br>
                      {{this.street}}, {{this.city}},<br>
                      {{this.state}} - {{this.pin_code}}<br>
                      {{this.phone_number}}
                    </p>
                  </div>
                  {{/each}}
                </div>

                <!-- Button to toggle the collapsed list -->
                <button id="showAllAddressesBtn" type="button" class="btn btn-primary"
                  style="border-radius: 5px; background-color: #79a206; color: #fff; border: none; padding: 8px 16px; font-size: 16px; width: 100%;"
                  data-bs-toggle="collapse" data-bs-target="#addressListCollapse" aria-expanded="false"
                  aria-controls="addressListCollapse">
                  Show All Addresses
                </button>

                <!-- New line for "Ship to a different address?" label and radio button -->
                <div class="row mt-3">
                  <div class="col-12 mb-20">
                    <input id="newAddress" name="address" type="radio" value="new" data-bs-toggle="collapse"
                      data-bs-target="#collapsetwo" aria-controls="collapsetwo"
                      style="width: 12px; height: 12px; margin-right: 5px;" />
                    <label id="addressLabel" class="righ_0" for="newAddress" data-bs-toggle="collapse"
                      data-bs-target="#collapsetwo" aria-controls="collapsetwo">Ship to a different address?</label>
                  </div>
                </div>

                <!-- Collapsible section for adding a new address -->
                <div id="collapsetwo" class="collapse one" data-parent="#accordion">
                  <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-12 mb-20">
                      <label>Name</label>
                      <input type="text" class="error" id="name" name="name" />
                      <small id="nameError" style="margin-bottom: 15px; margin-left: 3px; color: red;"></small>
                    </div>
                    <div class="col-12 mb-20">
                      <label>House / Office Name</label>
                      <input type="text" class="error" id="house" name="house" />
                      <small id="houseError" style="margin-bottom: 15px; margin-left: 3px; color: red;"></small>
                    </div>
                    <div class="col-12 mb-20">
                      <label>Street address</label>
                      <input type="text" class="error" id="street" name="street" />
                      <small id="streetError" style="margin-bottom: 15px; margin-left: 3px; color: red;"></small>
                    </div>
                    <div class="col-12 mb-20">
                      <label>Town / City</label>
                      <input type="text" class="error" id="city" name="city" />
                      <small id="cityError" style="margin-bottom: 15px; margin-left: 3px; color: red;"></small>
                    </div>
                    <div class="col-12 mb-20">
                      <label>State</label>
                      <input type="text" class="error" id="state" name="state" />
                      <small id="stateError" style="margin-bottom: 15px; margin-left: 3px; color: red;"></small>
                    </div>
                    <div class="col-lg-6 mb-20">
                      <label>PIN</label>
                      <input type="number" class="error" id="pin" name="pin" />
                      <small id="pinError" style="margin-bottom: 15px; margin-left: 3px; color: red;"></small>
                    </div>
                    <div class="col-lg-6 mb-20">
                      <label>Phone</label>
                      <input type="number" class="error" id="phone" name="phone" />
                      <small id="phoneError" style="margin-bottom: 15px; margin-left: 3px; color: red;"></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="col-lg-6 col-md-6">
          <div class="coupon_code">
            <h3>Coupon</h3>
            <div class="coupon_inner">
              <p>Enter the coupon code if you have one.</p>
              <div class="d-flex justify-content-center">
                <input placeholder=" Coupon code" type="text" />
                <button type="submit">Apply</button>
              </div>
            </div>
          </div>
          <form action="#" class="mt-5">
            <h3>Your order</h3>
            <div class="order_table table-responsive">
              <table>
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each products}}
                  <tr>
                    <td>{{this.product.name}}<strong> × {{this.quantity}}</strong></td>
                    <td>&#x20B9; {{this.product.price}}</td>
                  </tr>
                  {{/each}}

                </tbody>
                <tfoot>
                  <tr>
                    <th>Cart Subtotal</th>
                    <td>&#x20B9; {{subTotal}}</td>
                  </tr>
                  <tr>
                    <th>Discounts</th>
                    <td>&#x20B9; 0</td>
                  </tr>
                  <tr>
                    <th>Shipping</th>
                    <td>&#x20B9; {{shipping}}</td>
                  </tr>
                  <tr class="order_total">
                    <th>Order Total</th>
                    <td><strong>&#x20B9; <small id="totalPrice">{{totalPrice}}</small></strong></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="payment_method">
              <div class="panel-default">
                <input id="cashOnDelivery" name="paymentMethod" type="radio" value="cashOnDelivery" />
                <label for="cashOnDelivery">Cash on Delivery</label>
              </div>
              <div class="panel-default">
                <input id="prepaid" name="paymentMethod" type="radio" value="prepaid" checked />
                <label for="prepaid">Prepaid</label>
              </div>
              <div class="order_button">
                <button id="orderButton" type="button">Proceed to Payment</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
<!--Checkout page section end-->

{{!-- SweetAlert --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/user/scripts/checkout.js"></script>