<!--Checkout page section-->
<div class="Checkout_section mt-100" id="accordion">
  <div class="container">
    <div class="checkout_form">
      <div class="row">
        <div class="col-lg-6 col-md-6">

          <form action="#">
            <h3>Billing Details</h3>
            <div class="row">
              <div class="col-12 mb-20">
                <label>Select An Address</label>
                <div class="address" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                  <input type="radio" id="address" name="address" value="{{primaryAddress._id}}" checked
                    style="width: 12px; height: 12px; margin-right: 5px;">
                  <label for="address">{{primaryAddress.name}}</label><br>
                  <p style="margin: 0;"> {{primaryAddress.house_name}}<br>
                    {{primaryAddress.street}}, {{primaryAddress.city}},<br>
                    {{primaryAddress.state}} - {{primaryAddress.pin_code}}<br>
                    {{primaryAddress.phone_number}}
                  </p>
                </div>
                {{#each addresses}}
                <div class="address" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                  <input type="radio" id="address" name="address" value="{{this._id}}"
                    style="width: 12px; height: 12px; margin-right: 5px;">
                  <label for="address">{{this.name}}</label><br>
                  <p style="margin: 0;"> {{this.house_name}}<br>
                    {{this.street}}, {{this.city}},<br>
                    {{this.state}} - {{this.pin_code}}<br>
                    {{this.phone_number}}
                  </p>
                </div>
                {{/each}}

                <input id="address" name="address" type="radio" style="width: 12px; height: 12px; margin-right: 5px;"
                  data-bs-target="createp_account" />
                <label class="righ_0" for="address" data-bs-toggle="collapse" data-bs-target="#collapsetwo"
                  aria-controls="collapseOne">Ship to a different address?</label>

                <div id="collapsetwo" class="collapse one" data-parent="#accordion">
                  <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-12 mb-20">
                      <label>Name</label>
                      <input type="text" />
                    </div>
                    <div class="col-12 mb-20">
                      <label>House / Office Name</label>
                      <input type="text" />
                    </div>
                    <div class="col-12 mb-20">
                      <label>Street address</label>
                      <input placeholder="Street or unit name" type="text" />
                    </div>
                    <div class="col-12 mb-20">
                      <label>Town / City</label>
                      <input type="text" />
                    </div>
                    <div class="col-12 mb-20">
                      <label>State</label>
                      <input type="text" />
                    </div>
                    <div class="col-lg-6 mb-20">
                      <label>PIN</label>
                      <input type="text" />
                    </div>
                    <div class="col-lg-6 mb-20">
                      <label>Phone</label>
                      <input type="text" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          {{!-- <div class="col-12 mb-20">

            <input id="address" name="address" type="radio" style="width: 12px; height: 12px; margin-right: 5px;"
              data-bs-target="createp_account" />
            <label class="righ_0" for="address" data-bs-toggle="collapse" data-bs-target="#collapsetwo"
              aria-controls="collapseOne">Ship to a different address?</label>

            <div id="collapsetwo" class="collapse one" data-parent="#accordion">
              <div class="row">
                <div class="col-lg-6 mb-20">
                  <label>Name <span>*</span></label>
                  <input type="text" />
                </div>
                <div class="col-12 mb-20">
                  <label>House Name</label>
                  <input type="text" />
                </div>

                <div class="col-12 mb-20">
                  <label>Street address <span>*</span></label>
                  <input placeholder="House number and street name" type="text" />
                </div>
                <div class="col-12 mb-20">
                  <input placeholder="Apartment, suite, unit etc. (optional)" type="text" />
                </div>
                <div class="col-12 mb-20">
                  <label>Town / City <span>*</span></label>
                  <input type="text" />
                </div>
                <div class="col-12 mb-20">
                  <label>State<span>*</span></label>
                  <input type="text" />
                </div>
                <div class="col-lg-6 mb-20">
                  <label>Phone<span>*</span></label>
                  <input type="text" />
                </div>
              </div>
            </div>

          </div> --}}

          {{!-- <form action="#">
            <h3>Billing Details</h3>
            <div class="row">
              <div class="col-lg-6 mb-20">
                <label>First Name <span>*</span></label>
                <input type="text" />
              </div>
              <div class="col-lg-6 mb-20">
                <label>Last Name <span>*</span></label>
                <input type="text" />
              </div>
              <div class="col-12 mb-20">
                <label>Company Name</label>
                <input type="text" />
              </div>
              <div class="col-12 mb-20">
                <label for="country">country <span>*</span></label>
                <select class="select_option" name="cuntry" id="country">
                  <option value="2">bangladesh</option>
                  <option value="3">Algeria</option>
                  <option value="4">Afghanistan</option>
                  <option value="5">Ghana</option>
                  <option value="6">Albania</option>
                  <option value="7">Bahrain</option>
                  <option value="8">Colombia</option>
                  <option value="9">Dominican Republic</option>
                </select>
              </div>

              <div class="col-12 mb-20">
                <label>Street address <span>*</span></label>
                <input placeholder="House number and street name" type="text" />
              </div>
              <div class="col-12 mb-20">
                <input placeholder="Apartment, suite, unit etc. (optional)" type="text" />
              </div>
              <div class="col-12 mb-20">
                <label>Town / City <span>*</span></label>
                <input type="text" />
              </div>
              <div class="col-12 mb-20">
                <label>State / County <span>*</span></label>
                <input type="text" />
              </div>
              <div class="col-lg-6 mb-20">
                <label>Phone<span>*</span></label>
                <input type="text" />
              </div>
              <div class="col-lg-6 mb-20">
                <label> Email Address <span>*</span></label>
                <input type="text" />
              </div>
              <div class="col-12 mb-20">
                <input id="account" type="checkbox" data-bs-target="createp_account" />
                <label for="account" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-controls="collapseOne">Create an account?</label>

                <div id="collapseOne" class="collapse one" data-parent="#accordion">
                  <div class="card-body1">
                    <label> Account password <span>*</span></label>
                    <input placeholder="password" type="password" />
                  </div>
                </div>
              </div>
              <div class="col-12 mb-20">
                <input id="address" type="checkbox" data-bs-target="createp_account" />
                <label class="righ_0" for="address" data-bs-toggle="collapse" data-bs-target="#collapsetwo"
                  aria-controls="collapseOne">Ship to a different address?</label>

                <div id="collapsetwo" class="collapse one" data-parent="#accordion">
                  <div class="row">
                    <div class="col-lg-6 mb-20">
                      <label>First Name <span>*</span></label>
                      <input type="text" />
                    </div>
                    <div class="col-lg-6 mb-20">
                      <label>Last Name <span>*</span></label>
                      <input type="text" />
                    </div>
                    <div class="col-12 mb-20">
                      <label>Company Name</label>
                      <input type="text" />
                    </div>
                    <div class="col-12 mb-20">
                      <div class="select_form_select">
                        <label for="countru_name">country <span>*</span></label>
                        <select class="select_option" name="cuntry" id="countru_name">
                          <option value="2">bangladesh</option>
                          <option value="3">Algeria</option>
                          <option value="4">Afghanistan</option>
                          <option value="5">Ghana</option>
                          <option value="6">Albania</option>
                          <option value="7">Bahrain</option>
                          <option value="8">Colombia</option>
                          <option value="9">Dominican Republic</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-12 mb-20">
                      <label>Street address <span>*</span></label>
                      <input placeholder="House number and street name" type="text" />
                    </div>
                    <div class="col-12 mb-20">
                      <input placeholder="Apartment, suite, unit etc. (optional)" type="text" />
                    </div>
                    <div class="col-12 mb-20">
                      <label>Town / City <span>*</span></label>
                      <input type="text" />
                    </div>
                    <div class="col-12 mb-20">
                      <label>State / County <span>*</span></label>
                      <input type="text" />
                    </div>
                    <div class="col-lg-6 mb-20">
                      <label>Phone<span>*</span></label>
                      <input type="text" />
                    </div>
                    <div class="col-lg-6">
                      <label> Email Address <span>*</span></label>
                      <input type="text" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="order-notes">
                  <label for="order_note">Order Notes</label>
                  <textarea id="order_note"
                    placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                </div>
              </div>
            </div>
          </form> --}}

        </div>


        <div class="col-lg-6 col-md-6">
          <div class="coupon_code">
            <h3>Coupon</h3>
            <div class="coupon_inner">
              <p>Enter the coupon code if you have one.</p>
              <div class="d-flex justify-content-center">
                <input placeholder=" Coupon code" type="text" />
                <button type="submit">Apply</button>
              </div>
            </div>
          </div>
          <form action="#" class="mt-5">
            <h3>Your order</h3>
            <div class="order_table table-responsive">
              <table>
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each products}}
                  <tr>
                    <td>{{this.product.name}}<strong> × {{this.quantity}}</strong></td>
                    <td>&#x20B9; {{this.product.price}}</td>
                  </tr>
                  {{/each}}

                </tbody>
                <tfoot>
                  <tr>
                    <th>Cart Subtotal</th>
                    <td>&#x20B9; {{subTotal}}</td>
                  </tr>
                  <tr>
                    <th>Shipping</th>
                    <td>&#x20B9; {{shipping}}</td>
                  </tr>
                  <tr class="order_total">
                    <th>Order Total</th>
                    <td><strong id="totalPrice">&#x20B9; {{totalPrice}}</strong></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="payment_method">
              <div class="panel-default">
                <input id="cashOnDelivery" name="paymentMethod" type="radio" value="cashOnDelivery" />
                <label for="cashOnDelivery">Cash on Delivery</label>
              </div>
              <div class="panel-default">
                <input id="prepaid" name="paymentMethod" type="radio" value="prepaid" checked />
                <label for="prepaid">Prepaid</label>
              </div>
              <div class="order_button">
                <button id="orderButton" type="button">Proceed to Payment</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
<!--Checkout page section end-->

{{!-- SweetAlert --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/user/scripts/checkout.js"></script>