<style>
    .widget_categories a.active,
    .widget_dropdown_categories a.active {
        color: #79a206;
    }
</style>

<!--shop  area start-->
<div class="shop_area mt-100 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--sidebar widget start-->
                <aside class="sidebar_widget">
                    <div class="widget_inner">
                        <div class="widget_list widget_categories">
                            <h3>Categories</h3>
                            <ul>
                                <li class="widget_sub_categories sub_categories1"><a href="#"
                                        data-category="plants">Plants</a>
                                    <ul class="widget_dropdown_categories dropdown_categories1">
                                        <li><a data-subcategory="indoor">Indoor</a></li>
                                        <li><a data-subcategory="outdoor">Outdoor</a></li>
                                        <li><a data-subcategory="flowering">Flowering</a></li>
                                    </ul>
                                </li>
                                <li class="widget_sub_categories sub_categories2"><a href="#"
                                        data-category="pots">Containers</a>
                                    <ul class="widget_dropdown_categories dropdown_categories2">
                                        <li><a data-subcategory="ceramic">Ceramic</a></li>
                                        <li><a data-subcategory="plastic">Plastic</a></li>
                                        <li><a data-subcategory="clay">Clay</a></li>
                                    </ul>
                                </li>
                                <li class="widget_sub_categories sub_categories3"><a href="#"
                                        data-category="supplies">Gardening
                                        Supplies</a>
                                    <ul class="widget_dropdown_categories dropdown_categories3">
                                        <li><a data-subcategory="fertilizers">Fertilizers</a></li>
                                        <li><a data-subcategory="tools">Tools</a></li>
                                        <li><a data-subcategory="accessories">Accessories</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="widget_list widget_filter">
                            <h3>Filter by price</h3>
                            <div id="slider-range"></div>
                            <input type="text" name="text" id="amount" />
                        </div>

                        <button id="applyFilterBtn" type="button">Filter</button>
                    </div>
                </aside>
                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--shop wrapper start-->
                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper">
                    <div class="shop_toolbar_btn">
                        <button data-role="grid_3" type="button" class=" btn-grid-3" data-bs-toggle="tooltip"
                            title="3"></button>

                        <button data-role="grid_4" type="button" class="active btn-grid-4" data-bs-toggle="tooltip"
                            title="4"></button>
                    </div>
                    <div class=" niceselect_option">
                        <form class="select_option" action="#">
                            <select name="orderby" id="short">

                                <option selected value="1">Sort by average rating</option>
                                <option value="2">Sort by popularity</option>
                                <option value="3">Sort by newness</option>
                                <option value="4">Sort by price: low to high</option>
                                <option value="5">Sort by price: high to low</option>
                                <option value="6">Product Name: Z</option>
                            </select>
                        </form>
                    </div>
                </div>
                <!--shop toolbar end-->
                <div class="row shop_wrapper grid_4">
                    {{#each products}}
                    <div class="col-lg-3 col-md-4 col-12 ">
                        <article class="single_product">
                            <figure>
                                <input type="hidden" id="productId" name="productId" value="{{this._id}}">

                                <div class="product_thumb">
                                    <a class="primary_img" href="/singleProduct/{{this._id}}"><img
                                            src="{{this.images.[0]}}" alt=""></a>
                                    {{!-- <div class="label_product">
                                        <span class="label_sale">-7%</span>
                                    </div> --}}
                                    <div class="action_links">
                                        <ul>
                                            {{!-- <li class="add_to_cart"><a href="cart" title="Add to cart"><i
                                                        class="icon-shopping-bag"></i></a></li> --}}

                                            <li class="wishlistAdd"><a><i onclick="addToWishlist(this, `{{this._id}}`)"
                                                        class="fa-regular fa-heart"></i></a></li>
                                            <li class="wishlistRemove d-none"><a><i
                                                        onclick="removeFromWishlist(this, `{{this._id}}`)"
                                                        class="fa-solid fa-heart" style="color: #79a206;"></i></a></li>
                                        </ul>
                                    </div>
                                    {{!-- <div class="action_links list_action">
                                        <ul>
                                            <li class="quick_button"><a href="#" data-bs-toggle="modal"
                                                    data-bs-target="#modal_box" title="quick view"> <i
                                                        class="icon-eye"></i></a></li>
                                        </ul>
                                    </div> --}}
                                </div>
                                <div class="product_content grid_content">
                                    <div class="product_price_rating">
                                        <div class="product_rating">
                                            <ul>
                                                <li><a href="#"><i class="icon-star"></i></a>
                                                </li>
                                                <li><a href="#"><i class="icon-star"></i></a>
                                                </li>
                                                <li><a href="#"><i class="icon-star"></i></a>
                                                </li>
                                                <li><a href="#"><i class="icon-star"></i></a>
                                                </li>
                                                <li><a href="#"><i class="icon-star"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h4 class="product_name"><a href="/singleProduct/{{this._id}}">{{this.name}}</a>
                                        </h4>
                                        <div class="price_box">
                                            <span class="current_price">&#x20B9; {{this.price}}</span>
                                            {{!-- <span class="old_price">£74.00</span> --}}
                                        </div>
                                    </div>
                                </div>

                            </figure>
                        </article>
                    </div>
                    {{/each}}
                </div>

                <div class="shop_toolbar t_bottom">
                    <!-- Pagination HTML -->
                    <div class="pagination">
                        <ul>
                            <li class="{{#if disablePrev}}d-none{{/if}}">
                                <a href="?page={{currentPageMinusOne}}">Prev</a>
                            </li>
                            {{#each pages}}
                            <li class="{{#if isCurrent}}current{{/if}}">
                                <a href="?page={{pageNumber}}">{{pageNumber}}</a>
                            </li>
                            {{/each}}
                            <li class="{{#if disableNext}}d-none{{/if}}">
                                <a href="?page={{currentPagePlusOne}}">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--shop toolbar end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>
</div>
<!--shop  area end-->

<script src="/user/scripts/shop.js"></script>