<div class="customer_login">
  <div class="container">
    <div class="row">
      <!--register area start-->
      <div class="col-lg-6 col-md-6">
        <div class="account_form register">
          <h2>Sign Up</h2>
          <form>
            <div id="input-section" style="display: block;">
              <p>
                <label>Name</label>
                <input type="text" name="name" id="name" value="{{enteredName}}" />
                <small id="nameError" style="color: red;"></small>
              </p>
              <p>
                <label>Email address</label>
                <input type="email" name="email" id="email" value="{{enteredEmail}}" />
                <small id="emailError" style="color: red;">{{emailError}}</small>
              </p>
              <p>
                <label>Phone Number</label>
                <input type="number" name="phoneNumber" id="phoneNumber" value="{{enteredPhoneNumber}}" />
                <small id="phoneNumberError" style="color: red;"></small>
              </p>
              <p>
                <label>Password</label>
                <input type="password" name="password" id="password" value="{{enteredPassword}}" />
                <small id="passwordError" style="color: red;"></small>
              </p>
              <p>
                <label>Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" />
                <small id="confirmPasswordError" style="color: red;"></small>
              </p>
              <div class="login_submit">
                <div class="btn" style="font-size: 13px; color: white; background-color: #79a206; border-radius: 50px"
                  onclick="sendOTP()">Verify Email</div>
              </div>
            </div>

            <div id="otp-section" style="display: none;">
              <p>
                <label>Enter The OTP</label>
                <input type="text" id="otp" name="otp" />
              </p>
              <div class="login_submit">
                <div class="btn" style="font-size: 13px; color: white; background-color: #79a206; border-radius: 50px"
                  onclick="verifyOTP()">Register</div>
              </div>
            </div>

<div id="message"></div>
          </form>
        </div>
      </div>
      <!--register area end-->
    </div>
  </div>
</div>
<!-- customer login end -->

<!-- Custom JS -->
<script src="/user/scripts/signup.js"></script>