<!-- Spinner background overlay -->
<div id="spinnerOverlay"
  style="display:none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 100001;">
</div>

<div id="spinner"
  style="display:none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 100005;"
  class=" text-center mt-3">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="customer_login">
  <div class="container">
    <div class="row">
      <!--register area start-->
      <div class="col-lg-6 col-md-6">
        <div class="account_form register">
          <h2>Sign Up</h2>
          <form>
            <div id="input-section" style="display: block;">
              <p>
                <label>Name</label>
                <input type="text" name="name" id="name" value="{{enteredName}}" />
                <small id="nameError" style="color: red;"></small>
              </p>
              <p>
                <label>Email address</label>
                <input type="email" name="email" id="email" value="{{enteredEmail}}" />
                <small id="emailError" style="color: red;">{{emailError}}</small>
              </p>
              <p>
                <label>Phone Number</label>
                <input type="number" name="phoneNumber" id="phoneNumber" value="{{enteredPhoneNumber}}" />
                <small id="phoneNumberError" style="color: red;"></small>
              </p>

              <p>
                <label>Password</label>
              <div style="position: relative; margin-top: -21px">
                <input type="password" name="password" id="password" value="{{enteredPassword}}" />
                <i id="togglePassword" class="fas fa-eye"
                  style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;"></i>
              </div>
              <small id="passwordError" style="color: red;"></small>
              </p>

              <p>
                <label>Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" />
                <small id="confirmPasswordError" style="color: red;"></small>
              </p>
              <div class="login_submit">
                <div class="btn" style="font-size: 13px; color: white; background-color: #79a206; border-radius: 50px"
                  onclick="sendOTP()">Verify Email</div>
              </div>
            </div>

            <div id="otp-section" style="display: none;">
              <p>
                <label>Enter The OTP</label>
                <input type="text" id="otp" name="otp" />
              </p>
              <div class="login_submit">
                <div class="btn" style="font-size: 13px; color: white; background-color: #79a206; border-radius: 50px"
                  onclick="verifyOTP()">Register</div>
              </div>
            </div>

            <div id="message"></div>
          </form>
        </div>
      </div>
      <!--register area end-->
    </div>
  </div>
</div>
<!-- customer login end -->

{{!-- SweetAlert --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Custom JS -->
<script src="/user/scripts/signup.js"></script>