<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb_content">
          <h3>My Account</h3>
          <ul>
            <li><a href="index.html">home</a></li>
            <li>Sign Up</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs area end-->

<div class="customer_login">
  <div class="container">
    <div class="row">
      <!--register area start-->
      <div class="col-lg-6 col-md-6">
        <div class="account_form register">
          <h2>Sign Up</h2>
          <form action="signUp" method="post" onsubmit="return validateForm()">
            <p>
              <label>Name</label>
              <input type="text" name="name" id="name" value="{{enteredName}}" />
              <small id="nameError" style="color: red;"></small>
            </p>
            <p>
              <label>Email address</label>
              <input type="email" name="email" id="email" value="{{enteredEmail}}" />
              <small id="emailError" style="color: red;">{{emailError}}</small>
            </p>
            <p>
              <label>Phone Number</label>
              <input type="number" name="phoneNumber" id="phoneNumber" value="{{enteredPhoneNumber}}" />
              <small id="phoneNumberError" style="color: red;"></small>
            </p>
            <p>
              <label>Password</label>
              <input type="password" name="password" id="password" value="{{enteredPassword}}" />
              <small id="passwordError" style="color: red;"></small>
            </p>
            <p>
              <label>Confirm Password</label>
              <input type="password" name="confirmPassword" id="confirmPassword" />
              <small id="confirmPasswordError" style="color: red;"></small>
            </p>
            <div class="login_submit">
              <button type="submit">Register</button>
            </div>
          </form>
        </div>
      </div>
      <!--register area end-->
    </div>
  </div>
</div>
<!-- customer login end -->

<!-- Custom JS -->
<script src="/user/scripts/signup.js"></script>