{{#if wishlist}}
<!--wishlist area start -->
<div class="wishlist_area mt-100">
  <div class="container">
    <form>
      <div class="row">
        <div class="col-12">
          <div class="table_desc wishlist">
            <div class="cart_page table-responsive">
              <table>
                <thead>
                  <tr>
                    <th class="product_thumb">Image</th>
                    <th class="product_name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product_remove">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each wishlist}}
                  <tr>
                    <td class="product_thumb">
                      <a href="/singleProduct/{{this._id}}"><img src="{{this.images.[0]}}" alt="" /></a>
                    </td>
                    <td class="product_name">
                      <a href="/singleProduct/{{this._id}}">{{this.name}}</a>
                    </td>
                    <td class="product-price">&#x20B9; {{this.price}}</td>
                    <td class="product_remove"><a onclick="removeFromWishlist(`{{this._id}}`)">X</a></td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!--wishlist area end -->
{{else}}
<div class="row justify-content-center mt-5 mb-5">
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-body text-center">
        <h4 class="card-title">No Products Available</h4>
        <p class="card-text">There are currently no products wishlisted.</p>
      </div>
    </div>
  </div>
</div>
{{/if}}

<script src="/user/scripts/wishlist.js"></script>